@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
*, *:before, *:after{
    box-sizing:border-box;
    margin:0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    font-family: 'Dancing Script', cursive;
    font-size: 1.2rem;
    min-height:100%
}
.grid-container > * {
    box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}
.header{
    grid-area: header;
    background-color:rgba(18, 201, 134, 0.384);
}
.logo{
    height: 110px;
}
.menu{
    height:75px;
    width: calc(100%-30px);
    display: flex;
    justify-content: space-between;
    align-items:center;
    border-bottom: 1px solid #fff;
    box-shadow: 5px 0 10px rgba(0,0,0,.6);
    margin-left: 30px;
    margin-right: 30px;
}
.menu_items {
    display: flex;
    list-style: none;
    margin-right: 30px;
}
.menu_items li{
    border: 3px;
    margin: 0 5px;
}
.menu_items li a{
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color:#b40606c2;
    font-weight: bold;
}
.menu_items li:hover, li.active{
    background-color: rgba(0,0,0,.3);
    transition:.4s;
    color:#3b0404cc;
}
.menu_items li a:hover {
    color:#3b0404cc;
}
.btn_menu{
    margin-right: 30px;
    font-size: 25px;
    color: #b40606c2;
    cursor: pointer;
    display: none;
}
ul.show{
    top:65px;
}
@media screen and (max-width: 952px) {
    .menu_items li a{
        font-size:16px;
    }
}
@media screen and (max-width:858px) {
    .menu{
        height: 65px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .btn_menu{
        display: inline-flex;
    }
    .menu_items{
        position: fixed;
        width:100vw;
        height: calc(100%-65px);
        background: rgba(18, 201, 134, .9);
        top:-100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }
    .menu_items li{
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .menu_items li:hover{
        background: none;
    }
    .menu_items li a{
        font-size:20px;
        color:#b40606c2;
        font-weight: bold;
    }
    .menu_items li a:hover {
        color:#3b0404cc;
    }
    .logo{
        height: 90px;
        padding-left: 35px;
    }
}
@media screen and (max-widht:858px) and (orientation: landscape) {
    .menu_items li{
        margin: 5px 0 0 0;
    }
    .menu_items {
        overflow: scroll;
        height: calc(100% - 65%);
    }
}
.main{
    grid-area: main;
    display:grid;
    gap:10px;
    grid-template-areas:
    "main1"
    "main2";
}
.main1{
    grid-area: main1;
    display: grid;
    align-items: center;
    justify-content: center;
}
.main2{
    grid-area: main2;
    background-color: #ffffff;
    background-image: url(https://cdn.pixabay.com/photo/2017/01/27/16/09/people-2013447_960_720.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 25rem;
}
.section{
    grid-area: section;
    display:grid;
    grid-template-areas:
    "section1txt"
    "section1img"
    "section2txt"
    "section2img";
}
.section1txt{
    grid-area: section1txt;
    display: grid;
    align-items: center;
    justify-content: center;
}
.section2txt{
    grid-area: section2txt;
    display: grid;
    align-items: center;
    justify-content: center;
}
.section1img{
    grid-area: section1img;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 20rem;
    background-image: url('../assets/img/Diseno1.png');
}
.section2img{
    grid-area: section2img;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 20rem;
    background-image: url('../assets/img/Gigantografias.jpeg');
}
.footer{
    grid-area: footer;
    display:grid;
    grid-template-areas:
    "footerLogo"
    "footerUl";
}
.footerLogo{
    grid-area: footerLogo;
}
footer a img {
    padding: 3px;
}
.footerUl{
    grid-area: footerUl;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items:center;
}
.grid-container {
    display:grid;
    gap:10px;
    grid-template-areas:
    "header"
    "main"
    "section"
    "footer";
}
@media (min-width:600px){
    .grid-container{
        background-color:white;
    }
    .main{
        grid-template:
        "main1 main2"/
        300px auto;
    }
    .section{
        grid-template:
        "section1img section1txt"
        "section2txt section2img";
    }
    .footer{
        grid-template:
        "footerLogo footerUl";
    }
}
@media (min-width:900px){
    .grid-container{
        background-color:white;
    }
    .main{
        grid-template:
        "main1 main2"/
        600px auto;
    }
    .section{
        grid-template:
        "section1img section1txt"
        "section2txt section2img";
    }
    .footer{
        grid-template:
        "footerLogo footerUl";
    }
}

